
<%- include('../includes/head.ejs') %>
<body>
    <main>
         <%- include('../includes/navigation.ejs') %>
         <% if (orders.length<=0) {%>
         <h1>Nothing in orders!</h1>
         <%} else {%>
           <ul>
               <% orders.forEach(order=>{%>
                <li>
                    <h1># <%= order._id %> <a href="/orders/<%=order._id %>">Invoice</a></h1>
                    <ul>
                        <% order.products.forEach(p=>{%>
                            <li>
                                <%= p.product.title%> (<%=p.quantity%>) 
                            </li>
                            <%}) %>
                    </ul>
                </li>

               <%}) %>
           </ul>  <%} %>
    </main>
</body>

</html>